---
layout: base
---
<article class="post">
  {% if page.previous-permalink %}
    <div style="margin-bottom: 2em" />
    Previous: <a href={{ page.previous-permalink }}>{{ page.previous-title }}</a>
    </div>
  {% endif %}

  <div class="post-content">
    {{ content }}
  </div>

  {% if page.next-permalink %}
    <div style="margin-top: 2em" />
      Next: <a href={{ page.next-permalink }}>{{ page.next-title }}</a>
    </div>
  {% endif %}

  {% if page.photo-title %}
  <div id="photo-attribution">
    <h4>Photo Attribution</h4>
    <p>Title: {{ page.photo-title || 'n/a' }}</p>
    <p>Description: {{ page.photo-description || 'n/a' }} </p>
    <p>Author: {{ page.photo-author || 'n/a' }} </p>
    <p>Source: <a href={{ page.photo-source-link }} target="_blank" rel="noopener">{{ page.photo-source-name }}</a></p>
    <p>License: <a href={{ page.photo-source-license-link }} target="_blank" rel="noopener">{{ page.photo-source-license-name }}</a></p>
  </div>
  {% endif %}

</article>
